# From https://github.com/Danimoth/gitattributes/blob/master/Web.gitattributes

# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#

#
## These files are text and should be normalized (Convert crlf => lf)
#

# source code
*.css text
*.html text
*.js text
*.json text
*.jsx text
*.scss text
*.sh text
*.svg text
*.ts text
*.tsx text
*.txt text
*.xml text

# git config
.gitattributes text
.gitignore text
.gitconfig text

# code analysis config
.csslintrc text
.stylelintrc text
.jscsrc text
.eslintignore text
.eslintrc text
.yarnrc text
.babelrc text

# misc config
.editorconfig text

# Documentation
*.md text
LICENSE text
AUTHORS text

# misc config
*.info text
yarn.lock text


#
## These files are binary and should be left untouched
#

# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pdf binary
